html {
   height: 100vh; 
}

body {
  min-height: 100vh;
  position: relative;  /* Required to make footer sticky */
  background-color: #FFE4C4;
  padding-bottom: 5vh; /* Equals to footer height, makes it sticky */
}
  
.markdown {
	overflow: auto;
	width: 50vh;
	height: 50vh;
	resize: vertical; /* Stops user from resizing textbox horizontally */
}

.footer {
	position: absolute;
	background-color: #F0F8FF;
	height: 5vh;
	width: 100vw;
	left: 0;
	bottom: 0;
}

.footer p {
	line-height: 4vh; /* Setting line height to be same as footer vertical aligns it, 5vh inserts a blank space below footer so 4vh */
}
